In [1]:
1+1

2

In [1]:
1+3

4

In [2]:
import numpy as np
X = np.random.normal(loc = 1, scale = 10, size = (1000,50))
print X

[[ 16.33944789  19.15417538   8.18264696 ..., -13.92811693  22.64153965
    6.91433329]
 [-14.25389411   4.0616696   -4.05327177 ...,   6.33232371   6.30400662
    0.66054986]
 [ 25.45249984  15.62151879   5.62154732 ...,  -8.60733487  -2.59000777
    6.12451049]
 ...,
 [ 19.27785527   9.09021314   7.00459355 ...,   1.28289531   2.15596179
    6.65819727]
 [ -0.70371001  11.57678207   2.82508677 ..., -13.13175178   1.63762322
   24.0039673 ]
 [  6.06645174  11.74880869  18.04698545 ...,  14.61728586   3.745387
   -0.57479864]]

In [3]:
m = np.mean(X, axis = 0)
std = np.std(X, axis = 0)
X-norm = ((X - m)/std)
print X_norm

SyntaxError: can't assign to operator (<ipython-input-3-235233d171ca>, line 3)

In [4]:
m = np.mean(X, axis = 0)
std = np.std(X, axis = 0)
X_norm = ((X - m)/std)
print X_norm

[[ 1.41312345  1.89285463  0.73052218 ..., -1.46938538  2.24486242
   0.62368706]
 [-1.48014363  0.37129565 -0.51461927 ...,  0.54186142  0.59375408
   0.00994148]
 [ 2.27496108  1.53670799  0.46990168 ..., -0.94119322 -0.30509529
   0.54617394]
 ...,
 [ 1.6910139   0.87825094  0.61064208 ...,  0.04060644  0.17454321
   0.5985499 ]
 [-0.19867848  1.12893571  0.18533057 ..., -1.3903305   0.12215873
   2.30086176]
 [ 0.44158783  1.14627866  1.73432885 ...,  1.36430669  0.33517415
  -0.11129548]]

In [5]:
Z = np.array([4,5,0],[1,9,3],[5,1,1],[3,3,3],[9,9,9],[4,7,1])

ValueError: only 2 non-keyword arguments accepted

In [6]:
Z = np.array([[4, 5, 0], 
             [1, 9, 3],              
             [5, 1, 1],
             [3, 3, 3], 
             [9, 9, 9], 
             [4, 7, 1]])

In [7]:
r = np.sum(Z, axis = 1)
print np.nonzero(r > 10)

(array([1, 4, 5]),)

In [8]:
A = np.eye(3)
B = np.eye(3)
print A
print B

[[ 1.  0.  0.]
 [ 0.  1.  0.]
 [ 0.  0.  1.]]
[[ 1.  0.  0.]
 [ 0.  1.  0.]
 [ 0.  0.  1.]]

In [10]:
AB = np.vstack((A,B))

In [3]:
import pandas

In [4]:
data = pandas.read_csv("titanic.csv", index_col = "PassengerId")

In [3]:
data[:10]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,NaN,C

In [4]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [5]:
data['Pclass']

PassengerId
1      3
2      1
3      3
4      1
5      3
6      3
7      1
8      3
9      3
10     2
11     3
12     1
13     3
14     3
15     3
16     2
17     3
18     2
19     3
20     3
21     2
22     2
23     3
24     1
25     3
26     3
27     3
28     1
29     3
30     3
      ..
862    2
863    1
864    3
865    2
866    2
867    2
868    1
869    3
870    3
871    3
872    1
873    1
874    3
875    2
876    3
877    3
878    3
879    3
880    1
881    2
882    3
883    3
884    2
885    3
886    3
887    2
888    1
889    3
890    1
891    3
Name: Pclass, dtype: int64

In [6]:
data['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [7]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [8]:
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [6]:
data['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [7]:
342.0/(342.0+549.0)

0.3838383838383838

In [11]:
1/2

0

In [12]:
4/2

2

In [1]:
342.0/(342.0+549.0)

0.3838383838383838

In [14]:
data['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [15]:
216.0/(491+216+184)

0.24242424242424243

In [16]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [17]:
data['Age'].mean()

29.69911764705882

In [18]:
data['Age'].median()

28.0

In [5]:
data.corr()[data['SibSp']][data['Parch']]

IndexError: indices are out-of-bounds

In [20]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [8]:
data['SibSp'].corr(data['Parch'])

NameError: name 'data' is not defined

In [22]:
data['Name'].size()

TypeError: 'int' object is not callable

In [23]:
data['Name'].len()

AttributeError: 'Series' object has no attribute 'len'

In [24]:
len(data['Name'])

891

In [25]:
first_name = []
for (i = 0, i <= len(data['Name']), i++){
    first_name = data['Name'].split(',',1)[0]
}
print first_name[0]
print first_name[1]

SyntaxError: invalid syntax (<ipython-input-25-4c7e25e83c18>, line 2)

In [26]:
first_name = []
i = 0
for i in range(0,len(data['Name'])){
    first_name = data['Name'].split(',',1)[0]
}
print first_name[0]
print first_name[1]

SyntaxError: invalid syntax (<ipython-input-26-65b0e97816b2>, line 3)

In [27]:
first_name = []
i = 0
for i in range(0,len(data['Name']))
    first_name = data['Name'].split(',',1)[0]

print first_name[0]
print first_name[1]

SyntaxError: invalid syntax (<ipython-input-27-1e77594b298d>, line 3)

In [42]:
first_name = []
i = 0
for i in range(0,len(data['Name'])):


type(data['Name'])

IndentationError: expected an indented block (<ipython-input-42-f5c3f6680ef7>, line 6)

In [41]:
type(1)

int

In [43]:
type(data)

pandas.core.frame.DataFrame

In [44]:
type(data['Name'])

pandas.core.series.Series

In [45]:
data['Name'][1]

'Braund, Mr. Owen Harris'

In [47]:
type(data['Name'][1])

str

In [11]:
print data['Name'][1]

Braund, Mr. Owen Harris

In [49]:
print data['Name'][1].split(',',1)[0]

Braund

In [53]:
fn = []
fn.append(data['Name'][1].split(',',1)[0])
fn.append(data['Name'][2].split(',',1)[0])
print fn
print fn[0]
print fn[1]

['Braund', 'Cumings']
Braund
Cumings

In [54]:
fn = []
i = 0
for i in range(0,len(data['Name'])-2):
    fn.append(data['Name'][i].split(',',1)[0])
    print fn[i]

KeyError: 0

In [12]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [13]:
print data['Name']

PassengerId
1                                Braund, Mr. Owen Harris
2      Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                 Heikkinen, Miss. Laina
4           Futrelle, Mrs. Jacques Heath (Lily May Peel)
5                               Allen, Mr. William Henry
6                                       Moran, Mr. James
7                                McCarthy, Mr. Timothy J
8                         Palsson, Master. Gosta Leonard
9      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                   Nasser, Mrs. Nicholas (Adele Achem)
11                       Sandstrom, Miss. Marguerite Rut
12                              Bonnell, Miss. Elizabeth
13                        Saundercock, Mr. William Henry
14                           Andersson, Mr. Anders Johan
15                  Vestrom, Miss. Hulda Amanda Adolfina
16                      Hewlett, Mrs. (Mary D Kingcome)
17                                  Rice, Master. Eugene
18                          Williams, Mr. Charles Eugene
19     Vander Planke, Mrs. Julius (Emelia Maria Vande...
20                               Masselmani, Mrs. Fatima
21                                  Fynney, Mr. Joseph J
22                                 Beesley, Mr. Lawrence
23                           McGowan, Miss. Anna "Annie"
24                          Sloper, Mr. William Thompson
25                         Palsson, Miss. Torborg Danira
26     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
27                               Emir, Mr. Farred Chehab
28                        Fortune, Mr. Charles Alexander
29                         O'Dwyer, Miss. Ellen "Nellie"
30                                   Todoroff, Mr. Lalio
                             ...
862                          Giles, Mr. Frederick Edward
863    Swift, Mrs. Frederick Joel (Margaret Welles Ba...
864                    Sage, Miss. Dorothy Edith "Dolly"
865                               Gill, Mr. John William
866                             Bystrom, Mrs. (Karolina)
867                         Duran y More, Miss. Asuncion
868                 Roebling, Mr. Washington Augustus II
869                          van Melkebeke, Mr. Philemon
870                      Johnson, Master. Harold Theodor
871                                    Balkic, Mr. Cerin
872     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
873                             Carlsson, Mr. Frans Olof
874                          Vander Cruyssen, Mr. Victor
875                Abelson, Mrs. Samuel (Hannah Wizosky)
876                     Najib, Miss. Adele Kiamie "Jane"
877                        Gustafsson, Mr. Alfred Ossian
878                                 Petroff, Mr. Nedelio
879                                   Laleff, Mr. Kristo
880        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
881         Shelley, Mrs. William (Imanita Parrish Hall)
882                                   Markun, Mr. Johann
883                         Dahlberg, Miss. Gerda Ulrika
884                        Banfield, Mr. Frederick James
885                               Sutehall, Mr. Henry Jr
886                 Rice, Mrs. William (Margaret Norton)
887                                Montvila, Rev. Juozas
888                         Graham, Miss. Margaret Edith
889             Johnston, Miss. Catherine Helen "Carrie"
890                                Behr, Mr. Karl Howell
891                                  Dooley, Mr. Patrick
Name: Name, dtype: object

In [15]:
type(data['Name'])

pandas.core.series.Series

In [16]:
type(data['Name'][1])

str

In [19]:
fn = []
i = 0
data['Name'][1]

'Braund, Mr. Owen Harris'

In [27]:
data['Name']

PassengerId
1                                Braund, Mr. Owen Harris
2      Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                 Heikkinen, Miss. Laina
4           Futrelle, Mrs. Jacques Heath (Lily May Peel)
5                               Allen, Mr. William Henry
6                                       Moran, Mr. James
7                                McCarthy, Mr. Timothy J
8                         Palsson, Master. Gosta Leonard
9      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                   Nasser, Mrs. Nicholas (Adele Achem)
11                       Sandstrom, Miss. Marguerite Rut
12                              Bonnell, Miss. Elizabeth
13                        Saundercock, Mr. William Henry
14                           Andersson, Mr. Anders Johan
15                  Vestrom, Miss. Hulda Amanda Adolfina
16                      Hewlett, Mrs. (Mary D Kingcome)
17                                  Rice, Master. Eugene
18                          Williams, Mr. Charles Eugene
19     Vander Planke, Mrs. Julius (Emelia Maria Vande...
20                               Masselmani, Mrs. Fatima
21                                  Fynney, Mr. Joseph J
22                                 Beesley, Mr. Lawrence
23                           McGowan, Miss. Anna "Annie"
24                          Sloper, Mr. William Thompson
25                         Palsson, Miss. Torborg Danira
26     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
27                               Emir, Mr. Farred Chehab
28                        Fortune, Mr. Charles Alexander
29                         O'Dwyer, Miss. Ellen "Nellie"
30                                   Todoroff, Mr. Lalio
                             ...
862                          Giles, Mr. Frederick Edward
863    Swift, Mrs. Frederick Joel (Margaret Welles Ba...
864                    Sage, Miss. Dorothy Edith "Dolly"
865                               Gill, Mr. John William
866                             Bystrom, Mrs. (Karolina)
867                         Duran y More, Miss. Asuncion
868                 Roebling, Mr. Washington Augustus II
869                          van Melkebeke, Mr. Philemon
870                      Johnson, Master. Harold Theodor
871                                    Balkic, Mr. Cerin
872     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
873                             Carlsson, Mr. Frans Olof
874                          Vander Cruyssen, Mr. Victor
875                Abelson, Mrs. Samuel (Hannah Wizosky)
876                     Najib, Miss. Adele Kiamie "Jane"
877                        Gustafsson, Mr. Alfred Ossian
878                                 Petroff, Mr. Nedelio
879                                   Laleff, Mr. Kristo
880        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
881         Shelley, Mrs. William (Imanita Parrish Hall)
882                                   Markun, Mr. Johann
883                         Dahlberg, Miss. Gerda Ulrika
884                        Banfield, Mr. Frederick James
885                               Sutehall, Mr. Henry Jr
886                 Rice, Mrs. William (Margaret Norton)
887                                Montvila, Rev. Juozas
888                         Graham, Miss. Margaret Edith
889             Johnston, Miss. Catherine Helen "Carrie"
890                                Behr, Mr. Karl Howell
891                                  Dooley, Mr. Patrick
Name: Name, dtype: object

In [39]:
fn = []
i = 0
j = 1
for i in range(1,len(data['Name'])):
    if (data['Sex'][i] == 'female' ):
        fn.append(data['Name'][i].split(',',1)[0])
        j = j + 1

In [41]:
print fn[0]

Cumings

In [43]:
print fn

['Cumings', 'Heikkinen', 'Futrelle', 'Johnson', 'Nasser', 'Sandstrom', 'Bonnell', 'Vestrom', 'Hewlett', 'Vander Planke', 'Masselmani', 'McGowan', 'Palsson', 'Asplund', "O'Dwyer", 'Spencer', 'Glynn', 'Vander Planke', 'Nicola-Yarred', 'Ahlin', 'Turpin', 'Laroche', 'Devaney', "O'Driscoll", 'Arnold-Franchi', 'Harper', 'Faunthorpe', 'Rugg', 'West', 'Icard', 'Nye', 'Andersson', 'Goodwin', 'Dowdell', 'McDermott', 'Ilett', 'Backstrom', 'Fortune', 'Doling', 'Petranec', 'Salkjelsvik', 'Moran', 'Zabour', 'Jussila', 'Attalah', 'Andersson', 'Webber', 'Peter', 'Robins', 'Weisz', 'Newsom', 'Boulos', 'Nysten', 'Hakkarainen', 'Ford', 'Pears', 'Gilnagh', 'Watt', 'Chibnall', 'Skoog', 'Johnson', 'Isham', 'Sage', 'Kink-Heilmann', "O'Brien", 'Pinsky', 'Andersen-Jensen', 'Brown', 'Lurette', 'Madigan', 'Yrois', 'Strom', 'Carr', 'Cameron', 'Newell', 'Honkanen', 'Bazzani', 'Lefebre', 'Harris', 'Asplund', 'Harknett', 'Collyer', 'Zabour', 'Murphy', 'Lindahl', 'Hamalainen', 'Strom', 'Rosblom', 'Touma', 'Thorne', 'Cherry', 'Ward', 'Parrish', 'Henry', 'Graham', 'Bissette', 'Mellinger', 'Healy', 'Andrews', 'Lindblom', 'Abbott', 'Connolly', 'Barber', 'Bishop', 'Haas', 'Allison', 'Baxter', 'Kelly', 'Keane', 'Fleming', 'Penasco y Castellana', 'Francatelli', 'Hays', 'Ryerson', 'Lahtinen', 'Nilsson', 'Kantor', 'Wick', 'Spedden', 'Slayter', 'Caldwell', 'Young', 'Ball', 'Goldsmith', 'Hippach', 'McCoy', 'Frauenthal', 'Burns', 'Fortune', 'Brown', 'Smith', 'Davison', 'Bowerman', 'Funk', 'McGovern', 'Mockler', 'Barbara', 'Warren', 'Moussa', 'Jermyn', 'Aubart', 'Palsson', 'Meyer', 'Landergren', 'Bidois', 'Nakid', 'Holverson', 'Buss', 'Lehmann', 'Newell', 'Sandstrom', 'Olsson', 'Trout', 'Jussila', 'Oreskovic', 'Lefebre', 'Minahan', 'Meek', 'Drew', 'Silven', 'Van Impe', 'Danbom', 'Clarke', 'Phillips', 'Thorneycroft', 'Louch', 'Carter', 'Ford', 'Richards', 'Hart', 'Reynaldo', 'Mellinger', 'Baclini', 'Kenyon', 'Toomey', 'Baclini', 'West', 'Jerwan', 'Strandberg', 'Hirvonen', 'Turkula', 'Lefebre', 'Hoyt', 'Eustis', 'Allison', 'Canavan', "O'Sullivan", 'Laitinen', 'Maioni', 'Quick', 'Rothschild', 'Lemore', 'Angle', 'Perreault', 'Hippach', 'Ridsdale', 'Quick', 'Peter', 'Cacic', 'Hart', 'LeRoy', 'Frolicher', 'Crosby', 'Andersson', 'Andersson', 'Beane', 'Ohman', 'Duff Gordon', 'Taussig', 'de Messemaeker', 'Meanwell', 'Palsson', 'Appleton', 'Kelly', 'Garside', 'Silvey', 'Caram', 'Christy', 'Thayer', 'Taussig', 'Stephenson', 'Bourke', 'Leitch', 'Jacobsohn', 'Laroche', 'Shutes', 'Andersson', 'Murphy', 'Herman', 'Lobb', 'Becker', 'Longley', 'Skoog', 'Davis', 'Panula', 'Sagesser', 'Skoog', 'Baclini', 'Stanley', 'Doling', "O'Leary", 'Hegarty', 'Bourke', 'Taylor', 'Brown', 'Turja', 'Goodwin', 'Peters', 'Madill', 'Karun', 'Mullens', 'Astor', 'Barbara', 'Kelly', 'Cleaver', 'Mayne', 'Endres', 'Troutt', 'Harper', 'Renouf', 'Mannion', 'Ilmakangas', 'Allen', 'Ford', 'Ryerson', 'Sinkkonen', 'Wells', 'Herman', 'Rothes', 'Carter', 'Hogeboom', 'Mangan', 'Mack', 'Hocking', 'Emanuel', 'Robert', 'Ayoub', 'Dick', 'Sjoblom', 'Sage', 'Leader', 'Osman', 'Van Impe', 'Collyer', 'Pettersson', 'Chambers', 'Andersson', 'Heininen', 'Hays', 'Moor', 'Stone', 'Yasbeck', 'Compton', 'Serepeca', 'Goldenberg', 'Boulos', 'Lines', 'Carter', 'Aks', 'Wick', 'Baclini', 'Swift', 'Sage', 'Bystrom', 'Duran y More', 'Beckwith', 'Abelson', 'Najib', 'Potter', 'Shelley', 'Dahlberg', 'Rice', 'Graham', 'Johnston']

In [44]:
import pandas as pd

In [45]:
d = {'FIRST_NAME' : pandas.core.series.Series(fn)}

In [46]:
aaa = pd.DataFrame(d)

In [47]:
type(aaa)

pandas.core.frame.DataFrame

In [48]:
aaa.head()

  FIRST_NAME
0    Cumings
1  Heikkinen
2   Futrelle
3    Johnson
4     Nasser

In [28]:
aaa.value_counts()

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [49]:
aaa['FIRST_NAME'].value_counts()

Andersson         6
Baclini           4
Sage              3
Lefebre           3
Kelly             3
Ford              3
Brown             3
Carter            3
Palsson           3
Skoog             3
Goodwin           2
Quick             2
Zabour            2
Boulos            2
Taussig           2
West              2
Barbara           2
Van Impe          2
Ryerson           2
Murphy            2
Mellinger         2
Johnson           2
Fortune           2
Herman            2
Newell            2
Peter             2
Vander Planke     2
Doling            2
Collyer           2
Strom             2
                 ..
Perreault         1
Najib             1
Arnold-Franchi    1
Hewlett           1
Robins            1
Dowdell           1
Eustis            1
Crosby            1
McDermott         1
Hegarty           1
Moussa            1
Drew              1
Masselmani        1
Turja             1
Beane             1
Hocking           1
Lurette           1
Cacic             1
Madill            1
Stephenson        1
Nicola-Yarred     1
Hamalainen        1
Davison           1
Astor             1
Troutt            1
Olsson            1
Nysten            1
Parrish           1
Bowerman          1
Aubart            1
Name: FIRST_NAME, dtype: int64